<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">

  <springProfile name="local"><property resource="application-local.properties"/></springProfile>
  <springProfile name="dev"><property resource="application-dev.properties"/></springProfile>
  <springProfile name="cjprod"><property resource="application-cjprod.properties"/></springProfile>

  <property name="LOG_DIR" value="${logging.path}" />
  <property name="LOG_PATH_NAME" value="${LOG_DIR}/egg_etl.log" />

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH_NAME}</file>
    <!-- 일자별로 로그파일 적용하기 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}.%i</fileNamePattern>
        <maxHistory>30</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        <maxFileSize>10MB</maxFileSize>
		<totalSizeCap>20GB</totalSizeCap>
      </rollingPolicy>
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger{36}.%M\(%line\) - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger{36}.%M\(%line\) - %msg%n
      </pattern>
    </layout>
  </appender>

  <!-- http requests log -->
  <logger name="javamelody"><level value="debug" /></logger>
  <logger name="net.bull.javamelody"><level value="debug" /></logger>

  <root level="INFO">
    <appender-ref ref="file" />
    <appender-ref ref="console" />
  </root>
</configuration>