<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="newegg.hello.test">
    <select id="selectFromDual" parameterType="QueryMap" resultType="QueryMap" fetchSize="1000">
    <![CDATA[ 
    	SELECT 'EGGPLAN ETL' AS HELLO FROM DUAL
    ]]>
    </select>
</mapper>
